#
# General gitconfig
#
# '#' or ';' is a line comment.
#

[user]
	name = Douglas Thor
	email = doug.thor@gmail.com
[core]
	eof=lf
	autocrlf = input
	editor = vim
	filemode = false		# Ignore file modes (chmod)
[push]
	default = simple
[pager]
	branch = false
[alias]
	# Show which files have been changed most often.
	code-changes = "!git log --format=format: --name-only | /bin/grep -E -v '^$' | sort | uniq -c | sort -rg | head -n 10"
	cc = "!git code-changes"
