#
# General gitconfig
#
# '#' or ';' is a line comment.
#

[user]
	name = Douglas Thor
	email = doug.thor@gmail.com
	# TODO: set this per computer.
	signingkey = 811D308AA7C10FA2  # dthor1.roam.corp.google.com
	# signingkey = 10A8CB5928819595  # dthor2.c.googles.com
	# signingkey = 5358825FD5B58AAB  # dthor-pyledev.c.googlers.com
	# signingkey = 1C22730EC26ED6FB  # odin
	# signingkey = 65E2E3EA0BF59145  # yggdrasil
	# signingkey = 5CAA2B3B1017CED7  # midgard
[core]
	eof=lf
	autocrlf = input
	editor = vim
	filemode = false		# Ignore file modes (chmod)
[push]
	default = simple
	gpgsign = if-asked
[pager]
	branch = false
[alias]
	# Show which files have been changed most often.
	code-changes = "!git log --format=format: --name-only | /bin/grep -E -v '^$' | sort | uniq -c | sort -rg | head -n 10"
	cc = "!git code-changes"
	# Prune any local squashed-and-merged branches.
	# Usage:
	#   git prune-squash-merged
	#   git prune-squash-merged -n
	#   git prune-squash-merged --dry-run
	prune-squash-merged = "!bash $HOME/dotfiles/git_prune_squash_merged.sh"
[commit]
	gpgsign = true
[tag]
	gpgsign = true
